<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Thymeleaf</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
  <h1>Thymeleaf:Spring Boot自带的前端模板</h1>

  <!-- 访问静态资源顺序: META-INF/resources > resources > static > public -->
  <img th:src="@{/images/nodejs.png}" alt="nodejs" th:width="200" th:height="150">

  <h1>标签常用方法</h1>
  <h3>赋值+字符串拼接</h3>
  <p th:text="${car.name}">车名:</p>
  <span th:text="'车的传奇: '+${car.name}+'!'"></span>

  <h5>字符串拼接简洁的写法</h5>
  <span th:text="|车的传奇: ${car.name}|"></span>

  <h3>条件判断 If/Unless</h3>
  <span th:if="${car.price==8989}">8989恰好:if满足条件</span><br/>
  <span th:unless="${car.price==8980}">8980太贵:unless满足条件</span><br/>
  <span th:unless="${car.price==8989}">8980太贵:unless满足不条件</span><br/>

  <h3>for 循环</h3>
  <table class="table table-striped table-hover">
    <tr>
      <th>NO.</th>
      <th>车名</th>
      <th>价格</th>
      <th>生产日期</th>
    </tr>
    <tr th:each="car : ${cars}">
      <td th:text="${car.id}">ID</td>
      <td th:text="${car.name}">车名</td>
      <td th:text="${#numbers.formatDecimal(car.price, 1, 2)}">价格</td>
      <td th:text="${#dates.format(car.createDate, 'yyyy-MM-dd')}">生产日期</td>
    </tr>
  </table>

  <h1>标准表达式语法</h1>
  <h3>变量表达式</h3>
  <h5>变量表达式即OGNL表达式或Spring EL表达式(在Spring术语中也叫model attributes)</h5>
  <span>变量表达式即OGNL表达式(对象导航语言)或Spring EL表达式(模型属性)</span>
  <!-- session 作用域 request 作用域-->
  <p th:text="|session:${session.car.name} request:${car.name}|"></p>
  <tr th:each="car : ${cars}">
    <td th:text="${car.name}">车名</td>
  </tr>

  <h3>选择(星号)表达式</h3>
  <h5>选择表达式很像变量表达式，不过它们用一个预先选择的对象来代替上下文变量容器(map)来执行</h5>
  <span th:text="*{car.name}"></span>
  <div th:object="${car}">
    <span th:text="*{price}"/><br/>
  </div>

  <h3>url表达式</h3>
  <h5>URL表达式指的是把一个有用的上下文或回话信息添加到URL，这个过程经常被叫做URL重写</h5>
  <a href="hithymeleaf">原生:</a><br/>
  <a href="hithymeleaf?name=jack">原生带参:</a><br/>
  <a href="hithymeleaf?name=jack&price=120">原生带参:</a><br/><br/>

  <a th:href="@{/hithymeleaf}">Hello Thymeleaf</a><br>

  <h5>将括号内的内容作为URL参数处理，该语法避免使用字符串拼接，大大提高了可读性</h5>
  <a th:href="@{/hithymeleaf(name=${car.name})}">Hello Thymeleaf</a><br>
  <a th:href="@{/hithymeleaf(name=${car.name},price=120)}">Hello Thymeleaf</a><br>

  <h3>文字国际化表达式</h3>
  <h5>文字国际化表达式允许从一个外部文件获取区域文字信息(.properties)，用Key索引Value</h5>
  <p th:text="#{welcome}"></p>

  <li id="i18n">
    <th:block th:if="${#locale.getCountry().equals('US')}">
      <a th:attr="href='/carlist?locale=zh_CN'" th:text="#{lang_zh}"></a>
    </th:block>
    <th:block th:if="${#locale.getCountry().equals('CN')}">
      <a th:attr="href='/carlist?locale=en_US'" th:text="#{lang_en}"></a>
    </th:block>
  </li>
</div>

<h1>布局</h1>
<!-- footer:被包含的文件名;copy是被包含文件中的 fragment 名 -->
<div th:include="footer :: copy"></div>
<div th:replace="footer :: copy"></div>
</body>
</html>